---
lecture:      <lecture name>
lecturer:     <lecturer>
institution:  <institution>
term:         <term>
issue:        <issue number>
release:      <release date>
submission:   <submission date>
---
